micronaut:
  server:
    multipart:
      max-file-size: 30000000
    port: ${SERVER_PORT:1338}
    max-request-size: 30000000
  application:
    name: hm-finnhjelpemiddel-bff
    thread-selection: auto
  executors:
    consumer:
      type: fixed
      nThreads: 1
    io:
      type: fixed
      nThreads: 100
  metrics:
    enabled: true
    sensitive: false
    binders:
      uptime:
        enabled: true
      processor:
        enabled: true
      jvm:
        enabled: true
      web:
        enabled: true
      logback:
        enabled: true
    export:
      prometheus:
        enabled: true
        step: PT1M
        descriptions: true
  data:
    pageable:
      max-page-size: 1000
  http:
    client:
      connect-timeout: 10s
      read-timeout: 60s
      event-loop-group: http
  netty:
    event-loops:
      http:
        num-threads: 25
        prefer-native-transport: true
  router:
    static-resources:
      swagger:
        paths: classpath:META-INF/swagger
        mapping: /swagger/**
      swagger-ui:
        paths: classpath:META-INF/swagger/views/swagger-ui
        mapping: /swagger-ui/**
endpoints:
  metrics:
    enabled: true
    sensitive: false
  prometheus:
    sensitive: false
    enabled: true
  all:
    path: "/internal"

jackson:
  bean-introspection-module: true
  serialization:
    indentOutput: true

search.url: ${SEARCH_URL:`http://localhost:8080/products/_search`}
grunndata-db.url: ${GRUNNDATA_DB_URL:`http://localhost:1337/`}


datasources:
  default:
    url: ${DB_JDBC_URL:`jdbc:tc:postgresql:18:///finnhjelpemiddelbff?TC_TMPFS=/testtmpfs:rw&TC_INITSCRIPT=file:src/test/resources/postgres/postgres-init.sql`}
    driverClassName: ${DB_DRIVER:org.testcontainers.jdbc.ContainerDatabaseDriver}
    username: ${DB_USERNAME:finnhjelpemiddelbff}
    password: ${DB_PASSWORD:finnhjelpemiddelbff}
    maximum-pool-size: 8
    minimum-idle: 0
    pool-name: default
    dialect: postgres

flyway:
  datasources:
    default:
      locations: classpath:db
