name: deploy-prod
on:
  release:
    types: [published]

jobs:
  call-workflow:
    permissions:
      contents: write
      id-token: write
      security-events: write
      actions: read
    uses: navikt/mime-deploy/.github/workflows/deploy-prod-kotlin.yml@v0
    with:
      NAIS_RESOURCE: ".nais/nais.yml"
      NAIS_VARS: ".nais/nais-prod.json"
    secrets: inherit